button {
  all: unset;
  padding: 1rem;
  background-color: #191919;
  color: antiquewhite;
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  text-align: center;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

@media (min-width: 1024px) {
  button {
    padding: 1rem 1.2rem;
  }
}

button:hover {
  opacity: 0.9;
}

button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}
